body {
    font-family: Tahoma, sans-serif;
}

.splitter {
    background: var(--splitter-color);
    z-index:10;
    position: absolute;
}

.splitter-h {
    width: 1px;
    cursor: ew-resize;
}

.splitter-v {
    height: 1px;
    cursor: ns-resize;
    box-shadow: 1px 1px 0px rgba(143, 143, 143, 0.14);
}
.splitter-h div {
    margin-left: -2px;
    width: 5px;
     height: 100%
}
.splitter-v div {
    margin-top: -2px;
    height: 5px;
 }
.splitter-h:hover {
//  margin-left: -2px;
//  width:3px;
}
.splitter-v:hover {
//     margin-top: -1px;
//     height:3px;
}
.splitter:hover {
//     border-color: #000;
//    background-color: #f00;
}
.box {
    overflow: hidden;
}

.menuToolBar {
    display: flex;
    height: 30px;
    background: #665a82;
    background: #cecece;
    color: #111;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    position: absolute;
}

.findbar {
    display:flex;
    height:30px;
    background: #665a82;
    background: #cecece;
    color: #111;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    position: absolute;
}


.fullScreenParent {overflow: visible}
.fullScreenNode {
    position: fixed!important;
    z-index: 1!important;
}
.fullScreenSibling {
    z-index: 0!important;
}


body {
    overflow: hidden!important;
    width: 100%;
    height: 100%;
}

.consoleCloseBtn {
    background-repeat: no-repeat;
    background-size: 22px 66px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    padding: 0px;
    position: absolute;
    right: 3px;
    top: 0px;
    height: 24px;
}

.animateBoxes {
    transition-duration: 0.15s;
    transition-property: top, left, width, height, transform;
    transition-timing-function: cubic-bezier(.10, .10, .25, .90);
}


.animateBoxes * {
    transition-duration: inherit;
    transition-property: top, left, width, height, transform;
    transition-timing-function: inherit;
}


.tabPanel {
    background: whitesmoke;
}

.inheritCursor *{
    cursor: inherit;
}

.panelbar {
    background-color: var(--toolbar-background);
    position: absolute;
    box-sizing: border-box;
}
.panelbar.top, .tabbar {
    border-bottom: 1px solid var(--splitter-color);
    box-sizing: border-box;
}
.panelbar.bottom {
    border-top: 1px solid var(--splitter-color);
}

body {
    --toolbar-background: #f3f3f3;
    --splitter-color: #d0d0d0;
    --hover-background: #eaeaea;
}

.spacer {
    flex: 1
}
.panelbar {
    display: flex;
    align-items: center;
    padding: 4px;
}
.panelbar>* {
    margin: 0 4px
}
.panelbar> button {
    padding: 5px;
}
.panelbar> button, .panelbar> input  {
    border: none;
    color: #333
}
.panelbar> *:active,
.panelbar> *:focus {
    outline: 1px solid lightblue;
    outline-offset: 1px
}
.panelbar> button {
    background: transparent;
    color: #0da6ff;
}
.panelbar> button:hover  {
    background: var(--hover-background);
    color: black
}
.panelbar> button[disabled] {
    pointer-events: none;
    color: gray!important;
}

.ace_editor.ace_listBox {
    background: var(--toolbar-background)!important;
    font-family: inherit;
    border: none;
}


.ace_listBox .ace_ {
    margin-left: 1em;
}
.ace_listBox .ace_header {
    font-weight: bold;
    margin-left: 0;
}

