.tabContainer {
    height: 30px;
    align-items: stretch;
    justify-content: stretch;
}

.tabPlusButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
}
.tabPlusButton:hover {
    color: green;
}
.tabPlusButton:active {
    color: darkgreen
}

.tabScroller {
    overflow: hidden;
    position: relative;
}


.tabbar {
    display:flex;
    height:30px;
    background: #665a82;
    background: #cecece;
    color: #111;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    position: absolute;
    user-select: none;
}
.tab {
    height: 30px;
    /*min-width: 100px;*/
    cursor: default;
    display:flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    background: #cecece;
    transition: 0.5s background-color;
    border-left: #b3b3b3 solid 1px;
    border-right: #b3b3b3 solid 1px;
    user-select: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: absolute;
}
.tabLeftOverflow {

}
.tabRightOverflow {

}
.tabDragging {
    display: flex;
    box-sizing: border-box;
    transition: 0.5s background-color;
    user-select: none;
    z-index: 100000;
    pointer-events: none;
    position: absolute;
}

.tab:hover {
    background: #e0e0e0;
    /border-radius: 10px 10px 0 0;
}
.tab.selected {
    background-color: #e7e7e7;
}
.tab.active {
    background-color: whitesmoke!important;//rgb(14, 98, 165);
    border-radius: 10px 10px 0 0;
}
.tabCloseButton {
    width:10px;
    height:10px;
    background-color: green;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}
.tabCloseButton:hover {
    background-color: red;
}

.tabPlusButton {
    cursor: pointer;
}
.tabIcon {
    color: yellow;
    padding: 0 4px 0 0;
}
.tab.active .tabIcon {
    color: orange
}
.tabTitle {
    flex: 1;
    padding: 0 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabbar.vertical {
    transform: rotate(90deg);
    transform-origin: 0 100%;
}

.tabbar.vertical .tab {
    transform: rotate(180deg);
}


.split-area {
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 100000;
    pointer-events: none;
    box-sizing: border-box;
    cursor: default;
}

.dark.split-area {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.15) inset;
    outline: 1px solid black;
}

.tab-editor {
    position: absolute;
}