.tabContainer {
    align-items: stretch;
    justify-content: stretch;
}

.tabPlusButton {
    --color: #ababab;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    color: transparent;
}
.tabPlusButton:after {
    content: "";
    background-image: linear-gradient(to bottom, transparent 40%, var(--color) 40%, var(--color) 60%,  transparent 60%),
        linear-gradient(to right, transparent 40%, var(--color) 40%, var(--color) 60%, transparent 60%);
        position: absolute;
    width: 12px;
    height: 12px;
    top: 8px;
} 
.tabPlusButton:hover:after {
    --color: #35cc95
    
}

.tabPlusButton:active {
    color: darkgreen
}

.tabScroller {
    overflow: hidden;
    position: relative;
}
.tab.changed>.tabCloseButton {
    background: #afafaf;
    border: transparent;
}

.tabbar {
    display:flex;
    background: var(--toolbar-background);
    color: #333;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    position: absolute;
    user-select: none;
}
.tab {
    font-size: 12px;
    height: 100%;
     /*min-width: 100px;*/
    cursor: default;
    display:flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    background: var(--toolbar-background); 
    border-left: transparent solid 1px;
    border-right: transparent solid 1px;
    user-select: none; 
    position: absolute;
}

.tab.selected.active:after {
    content: "";
    border-bottom: 2px solid rgb(127, 127, 191);
    width: calc(100% - 22px);
    bottom: 0;
    position: absolute;
}
.tab.focused.active:after {
    content: "";
    border-bottom: 3px solid rgb(127, 127, 191);
    width: calc(100% - 22px);
    bottom: 0;
    position: absolute;
}

.tab.scrolledLeft {
    border-color: var(--splitter-color);
    box-shadow: 0px 0px 2px 0px #d0d0d0;
}
.tabIcon {
    display: none;
} 

.tabLeftOverflow {

}
.tabRightOverflow {

}
.tabDragging {
    display: flex;
    box-sizing: border-box;
    transition: 0.5s background-color;
    user-select: none;
    z-index: 100000;
    pointer-events: none;
    position: absolute;
}

.tab:hover {
    background: var(--hover-background); 
}
.tab.selected {
    background-color: #e7e7e7;
}
.tab.active {
    background-color: whitesmoke;
 }
 .tabDragging > .tab.active {
    background-color: #e7e7e7;
}
 
.tabCloseButton {
    transform: rotate(45deg);
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    background: linear-gradient(to bottom, transparent 40%, #ababab 40%, #ababab 60%,  transparent 60%),
        linear-gradient(to right, transparent 40%, #ababab 40%, #ababab 60%, transparent 60%);
}


.tabCloseButton:hover {
    background-color: #ababab;
    border: 1px solid #ababab;
    background-image: linear-gradient(to bottom, transparent 40%, #fff 40%, #fff 60%,  transparent 60%),
        linear-gradient(to right, transparent 40%, #fff 40%, #fff 60%, transparent 60%);

}

.tab.active .tabCloseButton,
.tab:hover .tabCloseButton,
.tabCloseButton.changed {
    opacity: 1
}

.tabIcon {
    color: yellow;
    padding: 0 4px 0 0;
}
.tab.active .tabIcon {
    color: orange
}
.tabTitle {
    flex: 1;
    padding: 0 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 

.tabbar.vertical .tab {
    transform: rotate(180deg);
}


.split-area {
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 100000;
    pointer-events: none;
    box-sizing: border-box;
    cursor: default;
}

.dark.split-area {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.15) inset;
    outline: 1px solid black;
}

.tab-editor {
    position: absolute;
}