.cboffline {
    width: 55px;
    height: 21px;
    background: url("../layout/images/sync.png") no-repeat 0 -21px;
}
.cbofflineDown {
    background-position: 0 0px;
}
.cbofflineChecked {
    background-position: 0 0px;
}