<!DOCTYPE html>
<html lang="en">
<head>
    <title>Components demo</title>
    <script src="../demo/kitchen-sink/mini_require.js" type="text/javascript"></script>
    <script>
        require.config({
            baseUrl: window.location.protocol + "//" + window.location.host + window.location.pathname.split("/").slice(0, -2).join("/"),
            paths: {
                ace: "src",
                demo: "demo/kitchen-sink"
            }
        });
        require([
            "layout/components.js"
        ], function (demo) {
        });
    </script>

    <style type="text/css">
        .ace_diff-container {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>
</head>
<body>

</body>
</html>