.cboffline {
    width: 55px;
    height: 21px;
    background: url("../images/sync.png") no-repeat 0 -21px;
    display: inline-block;
}
.cbofflineDown {
    background-position: 0 0px;
}
.cbofflineChecked {
    background-position: 0 0px;
}

.checkbox {
    display: inline-block;
    width: 16px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url("../images/checkbox_black@1x.png");
    background-size: 16px 136px;
    background-position: 0 0;
}

.checkboxOver {
    background-position: 0 -17px;
}

.checkboxDown {
    background-position: 0 -34px;
}

.checkboxChecked {
    background-position: 0 -51px;
}