.blackbutton {
    background-image: linear-gradient(to bottom, #4c4c4c 0%, #434343 52%, #333333 52%, #454545 100%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.125) inset, 0px 1px rgba(255, 255, 255, 0.125);
    border: 1px solid #042440;
    border-radius: 3px;
    color: #d0e3ce;
    text-shadow: 0;
    height: 27px;
    line-height: 27px;
    padding: 0 11px;
    text-align: center;
    cursor: default;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
.blackbuttonDisabled {
    color: rgba(220, 235, 219, 0.5);
}
.blackbuttonFocus {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.125) inset, 0px 1px rgba(255, 255, 255, 0.125), 0 0 6px 1px rgba(255, 255, 255, 0.1) inset;
}
.blackbuttonOver {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.125) inset, 0px 1px rgba(255, 255, 255, 0.125), 0 0 0 1000px rgba(158, 169, 156, 0.08) inset;
}
.blackbuttonDown {
    box-shadow: 0 0 3px 2px #343434 inset;
}